[Unit]
Description=Odoo ERP PostgreSQL container
After=network-online.target local-fs.target user@%U.service odoo-network.service odoo-postgres-volume.service
Wants=network-online.target odoo-network.service  odoo-postgres-volume.service

[Container]
EnvironmentFile=/etc/odoo/container.env
Pod=odoo.pod
ContainerName = odoo-postgres
Image = ${POSTGRES_IMAGE}:${POSTGRES_VERSION}
Volume = odoo-postgres.volume:/var/lib/postgresql/data/pgdata
Network = odoo.network
Secret = odoo-postgres-password,type=env,target=POSTGRES_PASSWORD

[Service]
Restart = always
TimeoutStartSec = 30

[Install]
WantedBy = multi-user.target default.target odoo.service

