[Unit]
Description=Odoo ERP PostgreSQL container
After=network-online.target local-fs.target user@%U.service odoo-pod.service odoo-network.service odoo-postgres-volume.service
Wants=network-online.target odoo-pod.service odoo-network.service odoo-postgres-volume.service
Requires=odoo-pod.service odoo-network.service odoo-postgres-volume.service
PartOf=odoo.service

[Container]
EnvironmentFile=/etc/odoo/container.env
# If you wish to use the users home directory comment the lie above and 
# uncomment the line below
#EnvironmentFile=/home/%u/.config/containers/systemd/container.env
Pod=odoo.pod
ContainerName = odoo-postgres
Image = ${POSTGRES_IMAGE}:${POSTGRES_VERSION}
Volume = odoo-postgres.volume:/var/lib/postgresql/data/pgdata
Network = odoo.network
Secret = odoo-postgres-password,target=/home/%u/.pgpass

[Service]
EnvironmentFile=/etc/odoo/container.env
# If you wish to use the users home directory comment the lie above and 
# uncomment the line below
#EnvironmentFile=/home/%u/.config/containers/systemd/container.env
Restart = always
TimeoutStartSec = 30

[Install]
WantedBy = multi-user.target default.target odoo.service

